
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */